server:
  port: 8000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: AccessLogFilter
              args:
                baseMessage: "Global Access Logging Filter executed"
                preLogger: true
                postLogger: true
          routes:
            - id: user-service-health-check
              uri: lb://user-service
              predicates:
                - Path=/user-service/health-check, /user-service/actuator/**
              filters:
                - StripPrefix=1

            - id: catalog-service-health-check
              uri: lb://catalog-service
              predicates:
                - Path=/catalog-service/health-check, /catalog-service/actuator/**
              filters:
                - StripPrefix=1

            - id: order-service-health-check
              uri: lb://order-service
              predicates:
                - Path=/order-service/health-check, /order-service/actuator/**
              filters:
                - StripPrefix=1

            - id: user-service-login
              uri: lb://user-service
              predicates:
                - Path=/user-service/login
              filters:
                - StripPrefix=1

            - id: user-service-register
              uri: lb://user-service
              predicates:
                - Path=/user-service/users
                - Method=POST
              filters:
                - StripPrefix=1

            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/user-service/**
              filters:
                - AuthorizationHeaderFilter
                - StripPrefix=1

            - id: catalog-service
              uri: lb://catalog-service
              predicates:
                - Path=/catalog-service/**
              filters:
                - AuthorizationHeaderFilter
                - StripPrefix=1

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/order-service/**
              filters:
                - AuthorizationHeaderFilter
                - StripPrefix=1
  rabbitmq:
    host: localhost
    port: 5672
    username: msa
    password: msa

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"