server:
  port: 8000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: AccessLogFilter
              args:
                baseMessage: "Global Access Logging Filter executed"
                preLogger: true
                postLogger: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/user-service/**
              filters:
                - StripPrefix=1

            - id: catalog-service
              uri: lb://catalog-service
              predicates:
                - Path=/catalog-service/**
              filters:
                - StripPrefix=1

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/order-service/**
              filters:
                - StripPrefix=1

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"