server:
  port: 8000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: AccessLogFilter
              args:
                baseMessage: "Global Access Logging Filter executed"
                preLogger: true
                postLogger: true
          routes:
            - id: user-service-login
              uri: lb://user-service
              predicates:
                - Path=/user-service/login
              filters:
                - StripPrefix=1

            - id: user-service-register
              uri: lb://user-service
              predicates:
                - Path=/user-service/users
                - Method=POST
              filters:
                - StripPrefix=1

            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/user-service/**
              filters:
                - AuthorizationHeaderFilter
                - StripPrefix=1

            - id: catalog-service
              uri: lb://catalog-service
              predicates:
                - Path=/catalog-service/**
              filters:
                - AuthorizationHeaderFilter
                - StripPrefix=1

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/order-service/**
              filters:
                - AuthorizationHeaderFilter
                - StripPrefix=1

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"

jwt:
  access:
    secret: CnzOb1c6g3kkY8QW+TwFl1DgNBFWtSEZamaHS+0BA/U=
    ttl: 15m
  refresh:
    secret: p/E81ODr93t/8QiN7FTQkeXqexA99gshuRSNd+or11g=
    ttl: 30d