spring:
  application:
    name: user-service
  rabbitmq:
    host: localhost
    port: 5672
    username: msa
    password: msa
  zipkin:
    base-url: http://localhost:9411
    enabled: true
  sleuth:
    sampler:
      probability: 1.0